@import "~element-ui/packages/theme-chalk/src/common/var";

html, body {
  height: 100%;
  margin: 0 1px;
}

.clickable {
  cursor: pointer;
}

.form {
  max-width: 720px;
}

.text-left {
  text-align: start;
}

.text-right {
  text-align: end;
}

.text-color-accent {
  color: #409EFF;
}

.text-color-primary {
  color: #303133;
}

.text-color-regular {
  color: #606266;
}

.text-color-secondary {
  color: #909399;
}

.text-main-title {
  font-size: $--font-size-extra-large;
}

.text-title {
  font-size: $--font-size-large;
}

.text-subtitle {
  font-size: $--font-size-medium;
}

.text-body {
  font-size: $--font-size-base;
}

.text-body-small {
  font-size: $--font-size-small;
}

.text-comment {
  font-size: $--font-size-extra-small;
}

.background-primary {
  background: $--color-primary;
}

.background-info {
  background: $--background-color-base;
}

.markdown {
  width: 100%;
  text-align: start;

  h1 {
    color: $--color-primary-light-9;
    background-color: $--color-primary;
    border-left: 16px solid $--color-primary-light-5;
    margin-left: -16px;
    padding-left: 16px;
    font-size: $--font-size-extra-large;
    text-shadow: none;
    @extend .text-main-title;
  }

  h2 {
    border-left: 16px solid $--color-primary-light-5;
    padding-left: 16px;
    text-shadow: none;
    @extend .text-title;
  }

  h3 {
    border-left: 4px solid $--color-primary-light-5;
    padding-left: 16px;
    text-shadow: none;
    @extend .text-subtitle;
  }

  h4 {
    @extend .text-body;
  }

  p {
    @extend .text-body;
    @extend .text-color-primary;
  }
}

.markdown-preview {
  @extend .markdown;
  h1 {
    color: $--color-primary-light-9;
    background-color: $--color-primary;
    border-left: 16px solid $--color-primary-light-5;
    margin-left: 0;
    font-size: $--font-size-extra-large;
    text-shadow: none;
    @extend .text-main-title;
  }
}
